In [ ]:
import pandas as pd
import endpoints
from datetime import datetime, timedelta
# from config import SITE_EMAIL, SITE_PASSWORD
import time
import numpy as np
import requests
import json
from urllib.parse import quote
import os

pd.set_option("display.max_columns", None)

:

In [2]:
df = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/file/season_ratio.csv')

In [3]:
df

                             date  coefficient  subject_id
0       2025-01-01T00:00:00+00:00     1.331179         390
1       2025-01-02T00:00:00+00:00     1.396464         390
2       2025-01-03T00:00:00+00:00     1.222846         390
3       2025-01-04T00:00:00+00:00     1.208240         390
4       2025-01-05T00:00:00+00:00     1.169379         390
...                           ...          ...         ...
452726  2025-12-27T00:00:00+00:00     1.223481        6728
452727  2025-12-28T00:00:00+00:00     1.364269        6728
452728  2025-12-29T00:00:00+00:00     1.306579        6728
452729  2025-12-30T00:00:00+00:00     1.216398        6728
452730  2025-12-31T00:00:00+00:00     0.468574        6728

[452731 rows x 3 columns]

In [17]:
df = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/files/l1_l2_data-3.csv')

In [3]:
df = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/files/info_subjects.csv')

In [6]:
df

,subjectId,totalItems,diffTotalItems,totalSizes,diffTotalSizes,rating,diffRating,position,diffPosition,diffOrders,diffOrdersSum,ordersPeriodSum,name,isFavorite,orders,ordersSum,loosesPercent,avgSum,loosesSum,orderedCardsCountPercent,groupAOrderedCardsCountPercent
0,2,0,-3,0,-3,0,0.00,4294967295,7171,0,0,0,Обувь,False,0,0,0.00,0,0,0.00,0.00
1,7,0,-42,0,-42,0,0.00,4294967295,7034,0,0,4764,Игрушки,False,0,0,NaN,1588,0,4.76,2.38
2,11,0,-282712,0,-1006537,0,-945764.34,4294967295,9,-1397,-7888147,21556557519,Брюки,False,474871,821137332,37.32,1826,8045587930,53.40,5.94
3,24,0,-90631,0,-192975,0,-77024.32,4294967295,584,-2191,-647597,371758967,Кольца,False,29468,11617343,21.89,458,81387215,34.14,5.13
4,27,0,-81790,0,-81790,0,-143810.83,4294967295,259,-117,-254908,134241811,Шкатулки,False,4232,3468907,25.87,920,34731311,6.18,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,8470,0,-4659,0,-4659,0,-6121.83,4294967295,3508,16,26265,437603,Картины 3D,False,27,31687,52.00,1004,227545,2.34,0.62
6996,8471,0,-38,0,-38,0,-52.89,4294967295,6766,0,0,0,Ванны для груминга,False,0,0,0.00,0,0,0.00,0.00
6997,8472,0,-93,0,-93,0,-390.33,4294967295,6193,0,0,34178,Вентиляционно-осушительные коробки,False,0,0,52.82,1320,18054,11.65,4.84
6998,8473,0,-1214,0,-1214,0,-3566.90,4294967295,4221,3,10770,2356962,Шторки стеклянные для ванной,False,4,10965,25.52,6339,601476,3.80,0.48
6999,8474,0,-1882,0,-1882,0,-3270.19,4294967295,4331,-20,181,2163345,Комплектующие для жалюзи,False,337,56873,40.90,255,884895,20.85,4.59

In [20]:
df

,subjectId,totalItems,diffTotalItems,totalSizes,diffTotalSizes,rating,diffRating,position,diffPosition,diffOrders,...,ordersPeriodSum,name,isFavorite,orders,ordersSum,loosesPercent,avgSum,loosesSum,orderedCardsCountPercent,groupAOrderedCardsCountPercent
0,2,0,-3,0,-3,0,0.00,4294967295,7171,0,...,0,Обувь,False,0,0,0.00,0,0,0.00,0.00
1,7,0,-42,0,-42,0,0.00,4294967295,7034,0,...,4764,Игрушки,False,0,0,NaN,1588,0,4.76,2.38
2,11,0,-282712,0,-1006537,0,-945764.34,4294967295,9,-1397,...,21556557519,Брюки,False,474871,821137332,37.32,1826,8045587930,53.40,5.94
3,24,0,-90631,0,-192975,0,-77024.32,4294967295,584,-2191,...,371758967,Кольца,False,29468,11617343,21.89,458,81387215,34.14,5.13
4,27,0,-81790,0,-81790,0,-143810.83,4294967295,259,-117,...,134241811,Шкатулки,False,4232,3468907,25.87,920,34731311,6.18,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,8470,0,-4659,0,-4659,0,-6121.83,4294967295,3508,16,...,437603,Картины 3D,False,27,31687,52.00,1004,227545,2.34,0.62
6996,8471,0,-38,0,-38,0,-52.89,4294967295,6766,0,...,0,Ванны для груминга,False,0,0,0.00,0,0,0.00,0.00
6997,8472,0,-93,0,-93,0,-390.33,4294967295,6193,0,...,34178,Вентиляционно-осушительные коробки,False,0,0,52.82,1320,18054,11.65,4.84
6998,8473,0,-1214,0,-1214,0,-3566.90,4294967295,4221,3,...,2356962,Шторки стеклянные для ванной,False,4,10965,25.52,6339,601476,3.80,0.48
6999,8474,0,-1882,0,-1882,0,-3270.19,4294967295,4331,-20,...,2163345,Комплектующие для жалюзи,False,337,56873,40.90,255,884895,20.85,4.59

In [ ]:
df = df[['subject_id', 'name']]

In [18]:
df

,l1_id,l1_name,l2_id,l2_name
0,15283219552083840763,Автотовары,13228587801543660162,OFFroad
1,15283219552083840763,Автотовары,5112727546152373259,Автокосметика и автохимия
2,15283219552083840763,Автотовары,3279925191302616592,Автоэлектроника и навигация
3,15283219552083840763,Автотовары,9104072363897974717,Аккумуляторы и сопутствующие товары
4,15283219552083840763,Автотовары,9918326784635311320,Аксессуары в салон и багажник
...,...,...,...,...
538,13421083896351775334,Ювелирные изделия,7661203726409346412,Украшения из золота
539,13421083896351775334,Ювелирные изделия,12112583902585777490,Украшения из керамики
540,13421083896351775334,Ювелирные изделия,15914763253791550990,Украшения из серебра
541,13421083896351775334,Ювелирные изделия,16947264205671234706,Часы
542,13421083896351775334,Ювелирные изделия,2352348941112735609,Четки

In [14]:
df

,l2_id,l3_id,l3_name,totalProducts,rating
0,13228587801543660162,7079448242063961252,OFFroad,30994,16565.59
1,13228587801543660162,12413804913918531246,Антипробуксовочное приспособление,2324,2539.89
2,13228587801543660162,12259168587146599763,Бампер силовой,2192,2395.43
3,13228587801543660162,17989320967635653854,Блокировка дифференциала,223,240.43
4,13228587801543660162,761960251978566180,Боди-лифт,1196,1305.23
...,...,...,...,...,...
75613,15914763253791550990,13307655831784469406,Ювелирный зажим,184,197.99
75614,15914763253791550990,11879150693454053555,Ювелирный шарм,3007,3287.49
75615,15914763253791550990,8351605313050307922,Ювелирный шнурок,1247,1361.03
75616,16947264205671234706,5696721885308461597,Часы,2106,2300.57
75617,2352348941112735609,15557855112075492004,Четки,116,123.71

In [9]:
df

                              dt  subject_id  coefficient
0      2025-01-01 00:00:00+00:00         390     1.331179
1      2025-01-02 00:00:00+00:00         390     1.396464
2      2025-01-03 00:00:00+00:00         390     1.222846
3      2025-01-04 00:00:00+00:00         390     1.208240
4      2025-01-05 00:00:00+00:00         390     1.169379
...                          ...         ...          ...
452726 2025-12-27 00:00:00+00:00        6728     1.223481
452727 2025-12-28 00:00:00+00:00        6728     1.364269
452728 2025-12-29 00:00:00+00:00        6728     1.306579
452729 2025-12-30 00:00:00+00:00        6728     1.216398
452730 2025-12-31 00:00:00+00:00        6728     0.468574

[452731 rows x 3 columns]

In [2]:
df = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/file/info_subject_30_days.csv')

In [11]:
df = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/files/info_subject_30_days.csv')

In [19]:
df = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/files/info_30_days.csv')

In [32]:
df_2 = pd.read_csv('/Users/vnaumq/code/projects/mini-dwh-sales-pipeline/dags/files/l3_data_mini-3.csv')

In [35]:
list1 = df_2['l3_id'].unique().tolist()
list2 = df['l3_id'].unique().tolist()

In [42]:
len(list1)

4439

In [43]:
len(list2)

50

In [13]:
df['dt'] = pd.to_datetime(df['date'])
df.drop(['date'], axis=1, inplace=True)

In [15]:
df = df[['subject_id', 'name', 'orders', 'ordersSum']]

In [16]:
df

      subject_id          name  orders  ordersSum
0             11         Брюки  483575  867973292
1             11         Брюки  448158  782880638
2             11         Брюки  488866  829780643
3             11         Брюки  481616  783701759
4             11         Брюки  471837  765036131
...          ...           ...     ...        ...
1165        1260  Карты памяти    1553    1010844
1166        1260  Карты памяти    1440    1054164
1167        1260  Карты памяти    1366     945377
1168        1260  Карты памяти    1603    1170885
1169        1260  Карты памяти    1507    1102533

[1170 rows x 4 columns]

KeyError: "[''] not in index"

In [15]:
df[['subject_id']] = df[['subjectId']]
df = df[['subjectId']].drop_duplicates()
df = df.head(1000)

In [16]:
df

     subjectId
0            2
1            7
2           11
3           24
4           27
..         ...
995       1288
996       1289
997       1290
998       1291
999       1292

[1000 rows x 1 columns]

In [12]:
df

     subjectId
0            2
1            7
2           11
3           24
4           27
..         ...
995       1288
996       1289
997       1290
998       1291
999       1292

[1000 rows x 1 columns]

In [8]:
df

,subjectId,totalItems,diffTotalItems,totalSizes,diffTotalSizes,rating,diffRating,position,diffPosition,diffOrders,...,name,isFavorite,orders,ordersSum,loosesPercent,avgSum,loosesSum,orderedCardsCountPercent,groupAOrderedCardsCountPercent,subject_id
0,2,0,-3,0,-3,0,0.00,4294967295,7171,0,...,Обувь,False,0,0,0.00,0,0,0.00,0.00,2
1,7,0,-42,0,-42,0,0.00,4294967295,7034,0,...,Игрушки,False,0,0,NaN,1588,0,4.76,2.38,7
2,11,0,-282712,0,-1006537,0,-945764.34,4294967295,9,-1397,...,Брюки,False,474871,821137332,37.32,1826,8045587930,53.40,5.94,11
3,24,0,-90631,0,-192975,0,-77024.32,4294967295,584,-2191,...,Кольца,False,29468,11617343,21.89,458,81387215,34.14,5.13,24
4,27,0,-81790,0,-81790,0,-143810.83,4294967295,259,-117,...,Шкатулки,False,4232,3468907,25.87,920,34731311,6.18,0.71,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1288,0,-11418,0,-11418,0,-35452.18,4294967295,1324,-398,...,Чехлы для чемоданов,False,2782,1850398,15.40,711,10406472,30.54,5.67,1288
996,1289,0,-265,0,-265,0,-430.97,4294967295,6123,5,...,Компрессы спортивные,False,19,8781,4.76,674,22333,9.61,2.49,1289
997,1290,0,-7808,0,-7808,0,-26920.51,4294967295,1638,-127,...,Кассеты для бритв,False,1595,1117760,8.27,1043,9016139,15.50,1.37,1290
998,1291,0,-334116,0,-334116,0,-467729.50,4294967295,28,2431,...,Ткани для рукоделия,False,28823,13938285,46.16,595,204757551,24.39,5.68,1291
999,1292,0,-20057,0,-20057,0,-29598.49,4294967295,1526,-500,...,Держатели для туалетной бумаги,False,3193,1647975,21.67,520,15340989,11.34,1.55,1292

In [4]:
df[['name']].drop_duplicates()

                           name
0                         Брюки
30                       Блузки
60                        Сумки
90                       Платья
120                      Сапоги
150   Настольные игры для детей
180                       Трусы
210                      Жилеты
240                    Свитшоты
270              Термокомплекты
300                    Пуховики
330                     Костюмы
360                      Джинсы
390            Постельное белье
420                   Бижутерия
450                       Колье
480                      Серьги
510                   Толстовки
540                     Копилки
570                      Одеяла
600                 Светильники
630                        Гели
660                       Книги
690                     Термосы
720                      Кабели
750                     Колонки
780                    Наушники
810              Часы настенные
840    Комбинезоны для животных
870             Сетевые фильтры
900            Элементы питания
930         Дозаторы для ванной
960            Flash-накопители
990            Перчатки садовые
1020                   Кальсоны
1050                     Люстры
1080        Салфетки для уборки
1110                   Секаторы
1140               Карты памяти

In [2]:
today = datetime.today()
yesterday = today - timedelta(days=1)
today_str = today.strftime('%Y-%m-%d')
yesterday_str = yesterday.strftime('%Y-%m-%d')

In [3]:
SITE_EMAIL = os.getenv("SITE_EMAIL")
SITE_PASSWORD = os.getenv("SITE_PASSWORD")

In [4]:
cookies_dict = endpoints.get_cookies_local(SITE_EMAIL, SITE_PASSWORD)
session = endpoints.get_session()

In [63]:
def get_season_ratio(subject_id: int, today_str: str, session: requests.Session, cookies_dict: dict):
    session.headers.update({
        "Content-Type": "application/json",
        "Accept": "application/json",
        "User-Agent": "Mozilla/5.0 (compatible; DataCollector/1.0)"
    })

    url = f"https://eggheads.solutions/clientAnalytics/subject/seasonRatio/{subject_id}?dns-cache={today_str}_09-1"
    response = session.get(url, cookies=cookies_dict)

    if response.status_code == 200:
        data = response.json()
        return data.get('coefficients', {})
    else:
        print(f"Error: {response.status_code}")
        print(response.text)
        print(url)
        return {}

In [59]:
data = requests.get('https://eggheads.solutions/clientAnalytics/subject/seasonRatio/390?dns-cache=2025-09-26_12-0', cookies=cookies_dict)

In [62]:
data.text

'{"status":"ok","coefficients":[{"date":"2025-01-01T00:00:00+00:00","coefficient":1.3311788},{"date":"2025-01-02T00:00:00+00:00","coefficient":1.3964645},{"date":"2025-01-03T00:00:00+00:00","coefficient":1.2228465},{"date":"2025-01-04T00:00:00+00:00","coefficient":1.2082398},{"date":"2025-01-05T00:00:00+00:00","coefficient":1.1693792},{"date":"2025-01-06T00:00:00+00:00","coefficient":1.1320368},{"date":"2025-01-07T00:00:00+00:00","coefficient":1.1510634},{"date":"2025-01-08T00:00:00+00:00","coefficient":1.243558},{"date":"2025-01-09T00:00:00+00:00","coefficient":1.1727281},{"date":"2025-01-10T00:00:00+00:00","coefficient":1.1503732},{"date":"2025-01-11T00:00:00+00:00","coefficient":1.1227227},{"date":"2025-01-12T00:00:00+00:00","coefficient":1.128536},{"date":"2025-01-13T00:00:00+00:00","coefficient":1.4170213},{"date":"2025-01-14T00:00:00+00:00","coefficient":1.2789707},{"date":"2025-01-15T00:00:00+00:00","coefficient":1.1928551},{"date":"2025-01-16T00:00:00+00:00","coefficient":1.1880554},{"date":"2025-01-17T00:00:00+00:00","coefficient":3.1080253},{"date":"2025-01-18T00:00:00+00:00","coefficient":1.005607},{"date":"2025-01-19T00:00:00+00:00","coefficient":1.0812547},{"date":"2025-01-20T00:00:00+00:00","coefficient":1.0457313},{"date":"2025-01-21T00:00:00+00:00","coefficient":1.0412455},{"date":"2025-01-22T00:00:00+00:00","coefficient":1.0063663},{"date":"2025-01-23T00:00:00+00:00","coefficient":1.0374275},{"date":"2025-01-24T00:00:00+00:00","coefficient":0.97049046},{"date":"2025-01-25T00:00:00+00:00","coefficient":1.0154818},{"date":"2025-01-26T00:00:00+00:00","coefficient":1.0096301},{"date":"2025-01-27T00:00:00+00:00","coefficient":1.0626516},{"date":"2025-01-28T00:00:00+00:00","coefficient":1.001571},{"date":"2025-01-29T00:00:00+00:00","coefficient":0.99236125},{"date":"2025-01-30T00:00:00+00:00","coefficient":1.0369729},{"date":"2025-01-31T00:00:00+00:00","coefficient":1.0300642},{"date":"2025-02-01T00:00:00+00:00","coefficient":1.0515444},{"date":"2025-02-02T00:00:00+00:00","coefficient":1.0171021},{"date":"2025-02-03T00:00:00+00:00","coefficient":1.1035007},{"date":"2025-02-04T00:00:00+00:00","coefficient":1.1496062},{"date":"2025-02-05T00:00:00+00:00","coefficient":1.1279641},{"date":"2025-02-06T00:00:00+00:00","coefficient":1.0791243},{"date":"2025-02-07T00:00:00+00:00","coefficient":1.0277069},{"date":"2025-02-08T00:00:00+00:00","coefficient":1.0498984},{"date":"2025-02-09T00:00:00+00:00","coefficient":1.1056532},{"date":"2025-02-10T00:00:00+00:00","coefficient":1.1585225},{"date":"2025-02-11T00:00:00+00:00","coefficient":1.2164106},{"date":"2025-02-12T00:00:00+00:00","coefficient":1.2311596},{"date":"2025-02-13T00:00:00+00:00","coefficient":1.096274},{"date":"2025-02-14T00:00:00+00:00","coefficient":1.0826035},{"date":"2025-02-15T00:00:00+00:00","coefficient":1.238994},{"date":"2025-02-16T00:00:00+00:00","coefficient":1.1816448},{"date":"2025-02-17T00:00:00+00:00","coefficient":1.1474364},{"date":"2025-02-18T00:00:00+00:00","coefficient":1.2512053},{"date":"2025-02-19T00:00:00+00:00","coefficient":1.1480763},{"date":"2025-02-20T00:00:00+00:00","coefficient":1.1290718},{"date":"2025-02-21T00:00:00+00:00","coefficient":1.0836006},{"date":"2025-02-22T00:00:00+00:00","coefficient":1.1228895},{"date":"2025-02-23T00:00:00+00:00","coefficient":1.1465565},{"date":"2025-02-24T00:00:00+00:00","coefficient":1.0970188},{"date":"2025-02-25T00:00:00+00:00","coefficient":1.1039491},{"date":"2025-02-26T00:00:00+00:00","coefficient":1.0937701},{"date":"2025-02-27T00:00:00+00:00","coefficient":1.0636626},{"date":"2025-02-28T00:00:00+00:00","coefficient":1.0896255},{"date":"2025-03-01T00:00:00+00:00","coefficient":0.99078476},{"date":"2025-03-01T00:00:00+00:00","coefficient":1.1341821},{"date":"2025-03-02T00:00:00+00:00","coefficient":1.173472},{"date":"2025-03-03T00:00:00+00:00","coefficient":1.2109102},{"date":"2025-03-04T00:00:00+00:00","coefficient":1.2118033},{"date":"2025-03-05T00:00:00+00:00","coefficient":1.1941231},{"date":"2025-03-06T00:00:00+00:00","coefficient":1.0919065},{"date":"2025-03-07T00:00:00+00:00","coefficient":0.9574374},{"date":"2025-03-08T00:00:00+00:00","coefficient":1.124637},{"date":"2025-03-09T00:00:00+00:00","coefficient":1.1496192},{"date":"2025-03-10T00:00:00+00:00","coefficient":1.1050078},{"date":"2025-03-11T00:00:00+00:00","coefficient":1.0715188},{"date":"2025-03-12T00:00:00+00:00","coefficient":0.96317935},{"date":"2025-03-13T00:00:00+00:00","coefficient":0.9301897},{"date":"2025-03-14T00:00:00+00:00","coefficient":0.9181461},{"date":"2025-03-15T00:00:00+00:00","coefficient":0.9569581},{"date":"2025-03-16T00:00:00+00:00","coefficient":0.95309526},{"date":"2025-03-17T00:00:00+00:00","coefficient":1.0805048},{"date":"2025-03-18T00:00:00+00:00","coefficient":1.0113598},{"date":"2025-03-19T00:00:00+00:00","coefficient":1.0415298},{"date":"2025-03-20T00:00:00+00:00","coefficient":1.0308762},{"date":"2025-03-21T00:00:00+00:00","coefficient":1.0147789},{"date":"2025-03-22T00:00:00+00:00","coefficient":1.0029418},{"date":"2025-03-23T00:00:00+00:00","coefficient":1.0449815},{"date":"2025-03-24T00:00:00+00:00","coefficient":1.0321956},{"date":"2025-03-25T00:00:00+00:00","coefficient":0.99605703},{"date":"2025-03-26T00:00:00+00:00","coefficient":1.0598198},{"date":"2025-03-27T00:00:00+00:00","coefficient":1.0103984},{"date":"2025-03-28T00:00:00+00:00","coefficient":0.96053267},{"date":"2025-03-29T00:00:00+00:00","coefficient":0.9483854},{"date":"2025-03-30T00:00:00+00:00","coefficient":0.9541225},{"date":"2025-03-31T00:00:00+00:00","coefficient":1.0015664},{"date":"2025-04-01T00:00:00+00:00","coefficient":0.99574745},{"date":"2025-04-02T00:00:00+00:00","coefficient":1.0049701},{"date":"2025-04-03T00:00:00+00:00","coefficient":1.038804},{"date":"2025-04-04T00:00:00+00:00","coefficient":0.931065},{"date":"2025-04-05T00:00:00+00:00","coefficient":0.9079592},{"date":"2025-04-06T00:00:00+00:00","coefficient":0.93728626},{"date":"2025-04-07T00:00:00+00:00","coefficient":0.911117},{"date":"2025-04-08T00:00:00+00:00","coefficient":0.9064584},{"date":"2025-04-09T00:00:00+00:00","coefficient":0.86624414},{"date":"2025-04-10T00:00:00+00:00","coefficient":0.9815552},{"date":"2025-04-11T00:00:00+00:00","coefficient":0.9546812},{"date":"2025-04-12T00:00:00+00:00","coefficient":0.9390934},{"date":"2025-04-13T00:00:00+00:00","coefficient":0.96281356},{"date":"2025-04-14T00:00:00+00:00","coefficient":0.95993483},{"date":"2025-04-15T00:00:00+00:00","coefficient":0.9451786},{"date":"2025-04-16T00:00:00+00:00","coefficient":0.97090304},{"date":"2025-04-17T00:00:00+00:00","coefficient":0.9224638},{"date":"2025-04-18T00:00:00+00:00","coefficient":0.90522844},{"date":"2025-04-19T00:00:00+00:00","coefficient":0.8962991},{"date":"2025-04-20T00:00:00+00:00","coefficient":0.9376048},{"date":"2025-04-21T00:00:00+00:00","coefficient":0.9333009},{"date":"2025-04-22T00:00:00+00:00","coefficient":0.9108973},{"date":"2025-04-23T00:00:00+00:00","coefficient":0.90654516},{"date":"2025-04-24T00:00:00+00:00","coefficient":0.89301896},{"date":"2025-04-25T00:00:00+00:00","coefficient":0.9057093},{"date":"2025-04-26T00:00:00+00:00","coefficient":0.8974603},{"date":"2025-04-27T00:00:00+00:00","coefficient":0.9182212},{"date":"2025-04-28T00:00:00+00:00","coefficient":0.90725714},{"date":"2025-04-29T00:00:00+00:00","coefficient":0.9405439},{"date":"2025-04-30T00:00:00+00:00","coefficient":0.9615929},{"date":"2025-05-01T00:00:00+00:00","coefficient":1.0009549},{"date":"2025-05-02T00:00:00+00:00","coefficient":0.92061156},{"date":"2025-05-03T00:00:00+00:00","coefficient":0.9396429},{"date":"2025-05-04T00:00:00+00:00","coefficient":0.9305544},{"date":"2025-05-05T00:00:00+00:00","coefficient":0.96710914},{"date":"2025-05-06T00:00:00+00:00","coefficient":0.8980613},{"date":"2025-05-07T00:00:00+00:00","coefficient":0.86640847},{"date":"2025-05-08T00:00:00+00:00","coefficient":0.89857215},{"date":"2025-05-09T00:00:00+00:00","coefficient":0.84209436},{"date":"2025-05-10T00:00:00+00:00","coefficient":0.92339057},{"date":"2025-05-11T00:00:00+00:00","coefficient":0.9580866},{"date":"2025-05-12T00:00:00+00:00","coefficient":0.9536046},{"date":"2025-05-13T00:00:00+00:00","coefficient":0.9488693},{"date":"2025-05-14T00:00:00+00:00","coefficient":0.97673273},{"date":"2025-05-15T00:00:00+00:00","coefficient":0.94065154},{"date":"2025-05-16T00:00:00+00:00","coefficient":0.906188},{"date":"2025-05-17T00:00:00+00:00","coefficient":0.8753207},{"date":"2025-05-18T00:00:00+00:00","coefficient":0.8892205},{"date":"2025-05-19T00:00:00+00:00","coefficient":0.84377503},{"date":"2025-05-20T00:00:00+00:00","coefficient":0.908886},{"date":"2025-05-21T00:00:00+00:00","coefficient":0.89346313},{"date":"2025-05-22T00:00:00+00:00","coefficient":0.8632701},{"date":"2025-05-23T00:00:00+00:00","coefficient":0.8453575},{"date":"2025-05-24T00:00:00+00:00","coefficient":0.82419825},{"date":"2025-05-25T00:00:00+00:00","coefficient":0.87430286},{"date":"2025-05-26T00:00:00+00:00","coefficient":0.87577844},{"date":"2025-05-27T00:00:00+00:00","coefficient":0.8328475},{"date":"2025-05-28T00:00:00+00:00","coefficient":0.85624605},{"date":"2025-05-29T00:00:00+00:00","coefficient":0.8516904},{"date":"2025-05-30T00:00:00+00:00","coefficient":0.8385265},{"date":"2025-05-31T00:00:00+00:00","coefficient":0.8248718},{"date":"2025-06-01T00:00:00+00:00","coefficient":0.94260836},{"date":"2025-06-02T00:00:00+00:00","coefficient":0.91156065},{"date":"2025-06-03T00:00:00+00:00","coefficient":0.9191794},{"date":"2025-06-04T00:00:00+00:00","coefficient":0.97352076},{"date":"2025-06-05T00:00:00+00:00","coefficient":0.91064584},{"date":"2025-06-06T00:00:00+00:00","coefficient":0.8599542},{"date":"2025-06-07T00:00:00+00:00","coefficient":0.86089784},{"date":"2025-06-08T00:00:00+00:00","coefficient":0.8797354},{"date":"2025-06-09T00:00:00+00:00","coefficient":0.90709937},{"date":"2025-06-10T00:00:00+00:00","coefficient":0.94349974},{"date":"2025-06-11T00:00:00+00:00","coefficient":0.918796},{"date":"2025-06-12T00:00:00+00:00","coefficient":0.9440121},{"date":"2025-06-13T00:00:00+00:00","coefficient":0.9115315},{"date":"2025-06-14T00:00:00+00:00","coefficient":0.9364431},{"date":"2025-06-15T00:00:00+00:00","coefficient":0.9257103},{"date":"2025-06-16T00:00:00+00:00","coefficient":0.909361},{"date":"2025-06-17T00:00:00+00:00","coefficient":0.9190542},{"date":"2025-06-18T00:00:00+00:00","coefficient":0.93755484},{"date":"2025-06-19T00:00:00+00:00","coefficient":0.93024373},{"date":"2025-06-20T00:00:00+00:00","coefficient":0.9489171},{"date":"2025-06-21T00:00:00+00:00","coefficient":0.91965437},{"date":"2025-06-22T00:00:00+00:00","coefficient":0.9477551},{"date":"2025-06-23T00:00:00+00:00","coefficient":0.94468236},{"date":"2025-06-24T00:00:00+00:00","coefficient":0.8879054},{"date":"2025-06-25T00:00:00+00:00","coefficient":0.9612414},{"date":"2025-06-26T00:00:00+00:00","coefficient":0.9651951},{"date":"2025-06-27T00:00:00+00:00","coefficient":0.97192305},{"date":"2025-06-28T00:00:00+00:00","coefficient":0.9353573},{"date":"2025-06-29T00:00:00+00:00","coefficient":0.95102334},{"date":"2025-06-30T00:00:00+00:00","coefficient":0.9632785},{"date":"2025-07-01T00:00:00+00:00","coefficient":0.94792116},{"date":"2025-07-02T00:00:00+00:00","coefficient":0.966388},{"date":"2025-07-03T00:00:00+00:00","coefficient":1.0004386},{"date":"2025-07-04T00:00:00+00:00","coefficient":0.95041245},{"date":"2025-07-05T00:00:00+00:00","coefficient":0.92499846},{"date":"2025-07-06T00:00:00+00:00","coefficient":0.9062884},{"date":"2025-07-07T00:00:00+00:00","coefficient":1.1088266},{"date":"2025-07-08T00:00:00+00:00","coefficient":0.91367054},{"date":"2025-07-09T00:00:00+00:00","coefficient":0.98152333},{"date":"2025-07-10T00:00:00+00:00","coefficient":1.0242733},{"date":"2025-07-11T00:00:00+00:00","coefficient":0.982213},{"date":"2025-07-12T00:00:00+00:00","coefficient":0.9403293},{"date":"2025-07-13T00:00:00+00:00","coefficient":0.94199336},{"date":"2025-07-14T00:00:00+00:00","coefficient":0.9659179},{"date":"2025-07-15T00:00:00+00:00","coefficient":0.9824665},{"date":"2025-07-16T00:00:00+00:00","coefficient":1.0307639},{"date":"2025-07-17T00:00:00+00:00","coefficient":1.0282679},{"date":"2025-07-18T00:00:00+00:00","coefficient":0.9700978},{"date":"2025-07-19T00:00:00+00:00","coefficient":1.0125067},{"date":"2025-07-20T00:00:00+00:00","coefficient":1.0336341},{"date":"2025-07-21T00:00:00+00:00","coefficient":1.0495596},{"date":"2025-07-22T00:00:00+00:00","coefficient":1.0187364},{"date":"2025-07-23T00:00:00+00:00","coefficient":1.0175171},{"date":"2025-07-24T00:00:00+00:00","coefficient":1.017515},{"date":"2025-07-25T00:00:00+00:00","coefficient":1.0198451},{"date":"2025-07-26T00:00:00+00:00","coefficient":0.9785987},{"date":"2025-07-27T00:00:00+00:00","coefficient":0.93238187},{"date":"2025-07-28T00:00:00+00:00","coefficient":0.9536774},{"date":"2025-07-29T00:00:00+00:00","coefficient":0.9054045},{"date":"2025-07-30T00:00:00+00:00","coefficient":0.9623318},{"date":"2025-07-31T00:00:00+00:00","coefficient":1.0035005},{"date":"2025-08-01T00:00:00+00:00","coefficient":1.0168823},{"date":"2025-08-02T00:00:00+00:00","coefficient":1.0202967},{"date":"2025-08-03T00:00:00+00:00","coefficient":1.0370599},{"date":"2025-08-04T00:00:00+00:00","coefficient":1.0173956},{"date":"2025-08-05T00:00:00+00:00","coefficient":1.0313613},{"date":"2025-08-06T00:00:00+00:00","coefficient":1.016533},{"date":"2025-08-07T00:00:00+00:00","coefficient":1.0992062},{"date":"2025-08-08T00:00:00+00:00","coefficient":1.0079087},{"date":"2025-08-09T00:00:00+00:00","coefficient":1.0296981},{"date":"2025-08-10T00:00:00+00:00","coefficient":1.0830913},{"date":"2025-08-11T00:00:00+00:00","coefficient":1.0700638},{"date":"2025-08-12T00:00:00+00:00","coefficient":1.0602168},{"date":"2025-08-13T00:00:00+00:00","coefficient":1.0882685},{"date":"2025-08-14T00:00:00+00:00","coefficient":1.0879351},{"date":"2025-08-15T00:00:00+00:00","coefficient":1.0722189},{"date":"2025-08-16T00:00:00+00:00","coefficient":1.04716},{"date":"2025-08-17T00:00:00+00:00","coefficient":1.0460963},{"date":"2025-08-18T00:00:00+00:00","coefficient":1.0359037},{"date":"2025-08-19T00:00:00+00:00","coefficient":0.9872439},{"date":"2025-08-20T00:00:00+00:00","coefficient":0.9985687},{"date":"2025-08-21T00:00:00+00:00","coefficient":1.0800083},{"date":"2025-08-22T00:00:00+00:00","coefficient":1.0167774},{"date":"2025-08-23T00:00:00+00:00","coefficient":0.9994657},{"date":"2025-08-24T00:00:00+00:00","coefficient":1.0142082},{"date":"2025-08-25T00:00:00+00:00","coefficient":1.0040934},{"date":"2025-08-26T00:00:00+00:00","coefficient":0.96363246},{"date":"2025-08-27T00:00:00+00:00","coefficient":0.9952356},{"date":"2025-08-28T00:00:00+00:00","coefficient":0.9536594},{"date":"2025-08-29T00:00:00+00:00","coefficient":0.9297866},{"date":"2025-08-30T00:00:00+00:00","coefficient":0.9083207},{"date":"2025-08-31T00:00:00+00:00","coefficient":0.95952857},{"date":"2025-09-01T00:00:00+00:00","coefficient":0.95974916},{"date":"2025-09-02T00:00:00+00:00","coefficient":0.9337611},{"date":"2025-09-03T00:00:00+00:00","coefficient":0.9428437},{"date":"2025-09-04T00:00:00+00:00","coefficient":0.9003364},{"date":"2025-09-05T00:00:00+00:00","coefficient":0.94692945},{"date":"2025-09-06T00:00:00+00:00","coefficient":0.92958957},{"date":"2025-09-07T00:00:00+00:00","coefficient":0.9943561},{"date":"2025-09-08T00:00:00+00:00","coefficient":1.1661235},{"date":"2025-09-09T00:00:00+00:00","coefficient":2.7919505},{"date":"2025-09-10T00:00:00+00:00","coefficient":0.93022394},{"date":"2025-09-11T00:00:00+00:00","coefficient":0.8863437},{"date":"2025-09-12T00:00:00+00:00","coefficient":0.8822305},{"date":"2025-09-13T00:00:00+00:00","coefficient":0.92307186},{"date":"2025-09-14T00:00:00+00:00","coefficient":0.93220556},{"date":"2025-09-15T00:00:00+00:00","coefficient":0.9658668},{"date":"2025-09-16T00:00:00+00:00","coefficient":0.9255836},{"date":"2025-09-17T00:00:00+00:00","coefficient":0.94185466},{"date":"2025-09-18T00:00:00+00:00","coefficient":0.8064698},{"date":"2025-09-19T00:00:00+00:00","coefficient":0.8298908},{"date":"2025-09-20T00:00:00+00:00","coefficient":0.8318803},{"date":"2025-09-21T00:00:00+00:00","coefficient":0.8646291},{"date":"2025-09-22T00:00:00+00:00","coefficient":0.86954767},{"date":"2025-09-23T00:00:00+00:00","coefficient":0.8358096},{"date":"2025-09-24T00:00:00+00:00","coefficient":0.85825986},{"date":"2025-09-25T00:00:00+00:00","coefficient":0.9019495},{"date":"2025-09-26T00:00:00+00:00","coefficient":0.9442669},{"date":"2025-09-27T00:00:00+00:00","coefficient":0.90133864},{"date":"2025-09-28T00:00:00+00:00","coefficient":0.9280068},{"date":"2025-09-29T00:00:00+00:00","coefficient":0.9763198},{"date":"2025-09-30T00:00:00+00:00","coefficient":0.9130705},{"date":"2025-10-01T00:00:00+00:00","coefficient":0.9436248},{"date":"2025-10-02T00:00:00+00:00","coefficient":0.93532926},{"date":"2025-10-03T00:00:00+00:00","coefficient":0.9628728},{"date":"2025-10-04T00:00:00+00:00","coefficient":0.92688775},{"date":"2025-10-05T00:00:00+00:00","coefficient":0.94259477},{"date":"2025-10-06T00:00:00+00:00","coefficient":0.9864041},{"date":"2025-10-07T00:00:00+00:00","coefficient":0.9446836},{"date":"2025-10-08T00:00:00+00:00","coefficient":0.9769003},{"date":"2025-10-09T00:00:00+00:00","coefficient":0.91414005},{"date":"2025-10-10T00:00:00+00:00","coefficient":0.9402183},{"date":"2025-10-11T00:00:00+00:00","coefficient":0.9446628},{"date":"2025-10-12T00:00:00+00:00","coefficient":0.93542767},{"date":"2025-10-13T00:00:00+00:00","coefficient":0.96511346},{"date":"2025-10-14T00:00:00+00:00","coefficient":0.94774204},{"date":"2025-10-15T00:00:00+00:00","coefficient":0.9832185},{"date":"2025-10-16T00:00:00+00:00","coefficient":0.9404979},{"date":"2025-10-17T00:00:00+00:00","coefficient":0.92929536},{"date":"2025-10-18T00:00:00+00:00","coefficient":1.0044119},{"date":"2025-10-19T00:00:00+00:00","coefficient":1.0298926},{"date":"2025-10-20T00:00:00+00:00","coefficient":1.0990205},{"date":"2025-10-21T00:00:00+00:00","coefficient":1.0187724},{"date":"2025-10-22T00:00:00+00:00","coefficient":1.0601118},{"date":"2025-10-23T00:00:00+00:00","coefficient":0.9947182},{"date":"2025-10-24T00:00:00+00:00","coefficient":0.9934708},{"date":"2025-10-25T00:00:00+00:00","coefficient":1.0218112},{"date":"2025-10-26T00:00:00+00:00","coefficient":1.0024816},{"date":"2025-10-27T00:00:00+00:00","coefficient":1.0253347},{"date":"2025-10-28T00:00:00+00:00","coefficient":1.2400584},{"date":"2025-10-29T00:00:00+00:00","coefficient":0.9648507},{"date":"2025-10-30T00:00:00+00:00","coefficient":1.1503757},{"date":"2025-10-31T00:00:00+00:00","coefficient":1.0263087},{"date":"2025-11-01T00:00:00+00:00","coefficient":0.94047844},{"date":"2025-11-02T00:00:00+00:00","coefficient":0.9827912},{"date":"2025-11-03T00:00:00+00:00","coefficient":1.0433184},{"date":"2025-11-04T00:00:00+00:00","coefficient":1.0265865},{"date":"2025-11-05T00:00:00+00:00","coefficient":0.97787225},{"date":"2025-11-06T00:00:00+00:00","coefficient":0.9668927},{"date":"2025-11-07T00:00:00+00:00","coefficient":0.9213418},{"date":"2025-11-08T00:00:00+00:00","coefficient":0.92423236},{"date":"2025-11-09T00:00:00+00:00","coefficient":0.9606886},{"date":"2025-11-10T00:00:00+00:00","coefficient":1.0293651},{"date":"2025-11-11T00:00:00+00:00","coefficient":1.1631054},{"date":"2025-11-12T00:00:00+00:00","coefficient":1.0830237},{"date":"2025-11-13T00:00:00+00:00","coefficient":0.991381},{"date":"2025-11-14T00:00:00+00:00","coefficient":0.96046984},{"date":"2025-11-15T00:00:00+00:00","coefficient":0.96930516},{"date":"2025-11-16T00:00:00+00:00","coefficient":0.99688536},{"date":"2025-11-17T00:00:00+00:00","coefficient":0.99532866},{"date":"2025-11-18T00:00:00+00:00","coefficient":0.95854867},{"date":"2025-11-19T00:00:00+00:00","coefficient":0.94609076},{"date":"2025-11-20T00:00:00+00:00","coefficient":0.9468206},{"date":"2025-11-21T00:00:00+00:00","coefficient":0.99844193},{"date":"2025-11-22T00:

In [ ]:
subject_id = 390

In [ ]:
data = get_season_ratio(subject_id, today_str, session, cookies_dict)

In [66]:
df = pd.json_normalize(data)

In [68]:
df['subject_id'] = subject_id

                          date  coefficient
0    2025-01-01T00:00:00+00:00     1.331179
1    2025-01-02T00:00:00+00:00     1.396464
2    2025-01-03T00:00:00+00:00     1.222846
3    2025-01-04T00:00:00+00:00     1.208240
4    2025-01-05T00:00:00+00:00     1.169379
..                         ...          ...
361  2025-12-27T00:00:00+00:00     1.197803
362  2025-12-28T00:00:00+00:00     1.227122
363  2025-12-29T00:00:00+00:00     1.179053
364  2025-12-30T00:00:00+00:00     1.041077
365  2025-12-31T00:00:00+00:00     0.804555

[366 rows x 2 columns]